* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: white;
}

html,
body {
    scroll-behavior: smooth;
}

.target:target {
    animation: fadeIn 0.5s ease-in-out;
    scroll-margin-top: 11rem;
    
}

.targetTo:target {
    animation: fadeIn 0.5s ease-in-out;
    scroll-margin-top: 1rem;
}

.efeito{
    animation: fadeIn 1.5s ease-in-out
}





@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*NavBar*/

.navWrepper {
    background: #F58D43;
    border-radius: 0px 0px 4.65rem 4.65rem;
    width: 100%;
    margin: auto;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 4.1rem;
    gap: 5.9rem;
    z-index: 999999;
    position: fixed;
}

.navImgWrepper img {
    width: 12.5rem;
    height: 4.3rem;
}

.navMenuWrepper ul {
    display: flex;
    gap: 2.4rem;

}

.navMenuWrepper ul li {
    list-style: none;
}

.navMenuWrepper ul li a {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #000000
}

.navMenuWrepper ul li a:hover {
    text-shadow: 0px .4rem .6rem rgba(0, 0, 0, 0.5);
}

nav button {
    margin-left: 1.8rem;

    background: #08297E;
    border-radius: 8px;
    border: none;

    max-width: 21.6rem;


    padding: .8rem;
}

nav button a {
    font-family: 'Encode Sans Expanded';
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;


    color: #FFFCFC;
}



/* Section Presentation */

.sectionWrepper {
    max-width: 102.4rem;
    width: 90%;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: auto;
}

.presentationWrepper {
    display: flex;
    margin: 8rem 10rem 3.5rem;
}

.presentationImgWrepper img {
    margin-top: 5rem;
    width: 45.8rem;
    height: 33.7rem;
    border-radius: .8rem;
}

/*efeito de imagem da esquerda para direita*/

#ImgHeader{
    position:relative;
    right: -200%;
    transition: all 1s;
}

#ImgHeader.show {
    right: 0;
}



.presentationTextWrepper {
    display: flex;
    flex-direction: column;
    gap: 5.4rem;
}

.presentationTextWrepper h1 {
    font-family: 'Encode Sans Expanded';
    font-weight: 500;
    font-size: 4.0rem;
    line-height: 7rem;
    margin-top: 3rem;
}

.presentationTextWrepper p {
    font-family: 'Encode Sans Expanded';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.5rem;

    margin-right: 8.3rem;
}

.presentationTextWrepper p span {
    color: #F58D43;
    font-weight: 600;
    font-size: 2rem;
    animation: title-animation 3s forwards;
}

@keyframes title-animation {
    0%{
        font-size: 2rem;
    }
    50%{
        font-size: 3rem;
    }
}

.blink{
    animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
    50%{
        scale: 1.1;
    }
}

/*Cards*/

.presentationInfoWrepper {
    display: flex;
    width: 90%;
    gap: 9.2rem;
}



.presentationCardWrepper{
    width: 100%;
}

.presentationCardWrepper h3 {
    font-family: 'Encode Sans Expanded';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 1.3rem;

}

.presentationCardWrepper p {
    font-family: 'Encode Sans Expanded';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.presentationCardWrepper:nth-child(1) {
    margin-top: 1rem;
}

.presentationCardWrepper:nth-child(1) img {
    width: 3.8rem;
    height: 5rem;
}

.presentationCardWrepper:nth-child(2) img {
    width: 5.5rem;
    height: 6.2rem;
}

.presentationCardWrepper:nth-child(3) img {
    width: 6.4rem;
    height: 6.2rem;
}



/* institutional video */

.sectionWrepperVideo {
    max-width: 102.4rem;
    width: 90%;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: auto;
}

.videoContainer {
    width: 90%;
}

.sectionTitleWrepper {

    background: #F58D43;
    border-radius: 8.0rem .4rem;

    max-width: 68rem;

    height: 8.2rem;


    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.4rem;

    margin-bottom: 4.3rem;
}

.sectionTitleWrepper p {
    display: flex;
    justify-content: center;
    font-family: 'Encode Sans Expanded';
    font-size: 2.8rem;
    gap: .8rem;

}

.sectionTitleWrepper h1 span {
    font-weight: 700;
}

.sectionVideoWrepper {
    display: flex;
    flex-direction: column;

}

video {
    max-width: 70rem;
    margin: auto;

}

/* Partners */

.sectionPartnersWrepper {
    max-width: 102.4rem;
    width: 90%;

    display: flex;
    flex-direction: column;

    margin: auto;
}

.partnersContainer {
    width: 90%;
    margin-left: 3.3rem;
}

.sectionTitlePartnersWrepper {
    background: #F58D43;
    border-radius: 8.0rem .4rem;

    max-width: 39.2rem;

    height: 8.2rem;


    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 12.5rem;
}

.sectionTitlePartnersWrepper h1 {
    display: flex;
    justify-content: center;
    font-family: 'Encode Sans Expanded';
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 5rem;
}

.partnersImgWrepper img {
    margin-left: 3.3rem;
    margin-top: 6.3rem;
    width: 30rem;
    height: 13.9;
}

/* Plans */

.titlePlans {
    background: #1E1E1E;
    border-radius: 8px;
    max-width: 69.6rem;
    max-height: 6.2rem;
    display: flex;
    position: absolute;
    top: -3rem;
    justify-content: center;
}

.plans {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    flex-direction: column;
    position: relative;
    align-items: center;
    max-width: 102.4rem;
    width: 90%;
    margin-right: auto;
    margin-left: auto;

}

.titlePlans h2 {
    color: #FFFFFF;
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    padding: 1.8rem;
}

.plansContainer {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    flex-direction: column;
}

.plansCard {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
    width: 95%;
}

.card {
    background: #434958;
    border-radius: 2rem;
    max-width: 30rem;
    height: 100rem;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h1 {
    color: #ffffff;
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 2rem;
}

.card ul {
    margin: 2rem 3rem 1rem;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

hr{
    width: 100%;
    margin-top: 1rem;
    opacity: .3;
}

.card ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: .5rem;
    font-family: 'Encode Sans Expanded';
    color: #ffffff;
}

.card button {
    display: flex;
    margin-bottom: 1.7rem;
    padding: 1.5rem .7rem;
    width: 90%;
    align-items: center;
    justify-content: center;

    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1.8;
    color: #FFFCFC;

    background: #08297E;
    border-radius: .8rem;
    border: none;
    cursor: pointer;
}

.card button a {
    font-family: 'Encode Sans Expanded';
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #FFFCFC;
}

#titleCardOne {
    padding: 2.4rem 6.4rem 0;
}

#titleCardTwo {
    padding: 2.4rem 2.5rem 0;
}

#titleCardTwo {
    padding: 2.4rem 2.5rem 0;
}

#titleCardTree {
    padding: 2.4rem 3.7rem 0;
}

.plansLgpd {
    display: flex;
    align-items: center;
    margin: 3.5rem 35.9rem 1.7rem 5.7rem;
}

.plansLgpd img {
    max-width: 4.2rem;
    max-height: 4.2rem;
}

.plansLgpd p {
    margin: auto;
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
}

/*Midea*/

.sectionMideaWrepper {
    max-width: 102.4rem;
    width: 90%;

    display: flex;
    flex-direction: column;

    margin: auto;
}

.noticeCards {
    display: flex;
    gap: 6.2rem;
    justify-content: center;
    margin-top: 7rem;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: .8rem;
}

.noticeCards img {
    margin-bottom: 1rem;
}

.noticeCards p {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 1.4rem;
}

.noticeG1,
.noticePolo {
    max-width: 20.6rem;
    padding: 1.3rem;
}

.noticeNd {
    max-width: 25.9rem;
    padding: 1.3rem;
}

.noticePolo img {
    width: 12rem;
    height: 3.833rem;
    margin-bottom: 2rem;

}

.noticeG1 img {
    width: 5rem;
    height: 5rem;
}

.noticeNd img {
    width: 9.5rem;
    height: 5.29rem;
}


.noticeCards a {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #2994EC;
}

/* App */

.sectionAppWrepper,
.sectionComents {
    max-width: 102.4rem;
    width: 90%;

    display: flex;
    flex-direction: column;

    margin: auto;
}

.containerApp {
    display: flex;
    margin-top: 7rem;
    justify-content: center;
}

.textAppDownload {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    justify-content: center;
    align-items: center;
}

.imgApp {
    margin-right: 3.2rem;
}

.imgApp img {
    width: 30rem;
    height: 52.6rem;
}

.textAppDownload img {
    width: 5rem;
    height: 4.126rem;
}

.textAppDownload h1 {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 3.5rem;
}

.textAppDownload button {
    background: #08297E;
    border-radius: 8px;


    width: 27.1rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textAppDownload a {
    text-decoration: none;
    color: #FFFCFC;

    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.1rem;
}

.textAppDownload p {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
}

/* Coments */

.containerComents {
    display: flex;
    justify-content: center;
    gap: 8.8rem;
    margin-bottom: 3rem;
}

.coment {
    padding: 3.2rem 2.7rem;
    width: 23.9rem;
    text-align: center;
    background-color: #FAF7F2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comentStars {
    display: flex;
    justify-content: center;
    margin-bottom: 1.6rem;
    gap: 0.5rem;
}

.comentStars img {
    width: 2.8rem;
    height: 3rem;
}

.coment p {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
}

.comentNameStyle {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: rgba(0, 0, 0, 0.6);
}

.comentName {
    display: flex;
    justify-content: center;
}

.comentText {
    height: 10rem;
}

/*contact*/

.sectionContact {
    width: 100%;
    background: #F58D43;
    padding: 3.5rem 25.8rem 3.7rem;
}

.containerContactText {
    max-width: 102.4rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;


    margin: auto;
}

.containerContactText h1 {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 2rem;
    color: #FFFFFF;
    margin-bottom: 3.2rem;
}

.containerContactText p {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;

    color: rgba(255, 255, 255, 0.8);
    opacity: 0.99;

    width: 49rem;
}

.containerContactText p a {
    color: rgba(255, 255, 255, 0.8);
}

.ImgWhats {
    width: 2.1rem;
    height: 2.2rem;
}

/*footer*/

.containerFooter {
    width: 100%;
    background-color: #5A6175;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22.8rem;
}

.footerTextAttendance {
    width: 30.1rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    margin-top: 6.1rem;
    margin-bottom: 3rem;
}

.footerTextAttendance h3 {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #FFFFFF;

}

.footerTextAttendance p {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.footerTextAttendance a {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.8rem;

}


.footerTextInfo p {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.8rem;

    color: rgba(255, 255, 255, 0.8);
    opacity: 0.99;
}

.footerTextInfo p:nth-child(2) {
    width: 32rem;
    margin-top: 1rem;
}

.footerSocialMedia {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

/*modal*/




#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    transition: 0.5s;
}

#modal {
    margin-top: 3rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #434958;
    z-index: 10;
    max-width: 65.9rem;
    width: 90%;
    transition: 0.5s;
    padding: 3.6rem;
    border-radius: 1rem;
}

.modalText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    justify-content: center;
}

.priceOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pricetwo{
display: flex;
justify-content: center;
width: 100%;
}

.modalText h1 {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 2rem;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
}

.modalText ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.modalText ul li {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1rem;
    color: #FFFFFF;
}

.plansName {
    background: #1E1E1E;
    padding: 1rem;
    width: 30%;
    border-radius: .8rem;
    display: flex;
    position: absolute;
    margin-top: -2rem;
    justify-content: center;
}

.plansName p {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #FFFFFF;
}

.modalPriceMonth {
    display: flex;
    max-width: 45rem;
    width: 100%;
    height: 12.1rem;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: .8rem;
    flex-direction: column;
    padding: 3rem 2rem;
}

.modalPriceMonth p{
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.9rem;
    color: #F58D43;
    margin-top: 1rem;
}

.close{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2rem;
    padding: .8rem;
    background-color: #292C33;
    border-top-left-radius: .8rem;
    border-bottom-right-radius: 2rem;
    font-family: 'Encode Sans Expanded';
    font-weight:bold;
    color: #f5deb3b8;
    cursor: pointer;
}

.prices {
    display: flex;
    gap: 1rem;
}

.btnModal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.7rem;
}

.btnModal button {
    background: #0C9FDE;
    max-width: 34.1rem;
    border: none;
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 600;
    border-radius: .8rem;
    line-height: 2rem;
    color: #FFFCFC;
    padding: 2.3rem 1.25rem;
    cursor: pointer;
}

.prices h1 {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.8rem;
    color: #FFFFFF;
}

.prices p {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.hide {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

@media (max-width: 1024px) {

    :root {
        font-size: 55%;
    }

}

@media (max-width: 815px) {

    :root {
        font-size: 45%;
    }

    .card button {
        font-size: 1.3rem;
    }


    .noticeCards{
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .noticeCards p{
        font-size: 2rem;
    }

    .noticeG1,
    .noticeNd,
    .noticePolo {
        max-width: none;
        width: 80%;

    }

}

@media (max-width: 430px) {

    :root {
        font-size: 36%;
    }

    .navMenuWrepper ul {
        display: none;
    }

    .presentationWrepper {
        margin: 15rem 8rem 6rem;
    }

    .presentationTextWrepper {
        gap: 1rem;
        text-align: center;
    }

    .presentationTextWrepper p {
        margin-right: 0;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .sectionVideoWrepper video {
        max-width: 50rem;
    }

    .navWrepper {
        gap: 1rem;
    }

    .presentationWrepper {
        flex-direction: column;
    }

    .presentationImgWrepper {
        display: none;
    }

    .presentationInfoWrepper {
        gap: 1.5rem;
        flex-direction: column;
    }

    .presentationCardWrepper p{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .presentationCardWrepper h3{
        font-size: 2.5rem;
        line-height: 3rem;
    }



    .presentationCardWrepper:nth-child(1) img {
        margin-bottom: .34rem;
    }

    .plansCard {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        max-width: 50rem;
    }

    .card h1 {
        font-size: 3rem;
        margin:1rem;
    }

    .card ul {
        margin: 5rem;
    }

    .card ul li {
        font-size: 2.5rem;
        line-height: 3rem;

    }

    .card button {
        width: 80%;
        font-family: 'Encode Sans Expanded';
        font-style: normal;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 1.5rem;
        color: #FFFCFC;
        height: 7rem;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .noticeCards {
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .noticeCards p {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .noticeCards a {
        font-size: 2rem;
    }

    .noticeG1,
    .noticeNd,
    .noticePolo {
        max-width: none;
    }

    .plansLgpd {
        margin: auto;
        padding: 2rem;
    }

    .plansLgpd p {
        font-size: 2rem;
    }

    .coment {
        width: 80%;
    }

    .comentText {
        height: auto;
    }

    .containerComents {
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sectionContact {
        padding: 4rem;
    }

    .containerFooter {
        gap: 2rem;
        flex-direction: column;
    }

    .containerApp {
        flex-direction: column;
        justify-content: center;
    }

    .imgApp {
        display: flex;
        justify-content: center;
        margin-right: none;

    }

    .titlePlans {
        align-items: center;
    }

    .titlePlans h2 {
        line-height: 3rem;
        max-width: 60rem;
        font-size: 2.5rem;
        text-align: center;
    }

    .modalText ul li{
        font-size: 2rem;
        line-height: 2rem;
    }

}

@media (max-width: 380px) {
    .sectionTitleWrepper p {
        font-size: 2.2rem;
        text-align: center;
        justify-content: center;
    }

    .presentationInfoWrepper {
        flex-direction: column;
    }

    .sectionVideoWrepper video {
        width: 45rem;
    }

    .imgApp {
        margin-right: .01rem;
    }

    .containerApp {
        text-align: center;
    }

    .modalPrice{
        flex-direction: column;
        gap: 5rem;
    }

    .modalPriceMonth, 
    .priceOne{
        width: 100%;
    }
    .pricetwo{
        width: 100%;
    }

    .plansName{
        width: 75%;
        font-size: 2rem;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .prices h1{
        font-size: 4rem;
    }

}

@media (max-width: 321px) {

    .presentationWrepper {
        margin: 11rem auto 3rem;
    }

    .presentationWrepper p {
        font-size: 2rem;
    }

    .presentationTextWrepper h1 {
        line-height: 5rem;
        font-size: 4rem;
    }

    .sectionTitleWrepper p {
        font-size: 1.6rem;
    }

    .sectionVideoWrepper video {
        width: 35rem;
    }

    .card button {
        font-size: 2rem;
        width: 90%;
    }

    .noticeG1,
    .noticeNd,
    .noticePolo {
        width: auto;
    }

    .containerContactText p {
        width: auto;
    }

    #titleCardTwo {
        font-size: 2.5rem;
    }
}